/*saas网站基本样式*/
html {
    background-color: rgb(255,255,255);
    font-size: 13px;
}

body{
    font-size:13px;
}

table a {
    text-decoration: none;
    color: #01AAED;
}

.atjubo-title {
    float: left;
    width: 100px;
    text-align: right;
    line-height: 24px;
    margin: 5px 0px;
    font-weight:bold;
}

.atjubo-content {
    margin-left: 100px;
    position: relative;
    line-height: 24px;
    padding: 5px 0px;
}
.atjubo-date {
    width: 100px;
}
.layui-body, .layui-layout-admin .layui-footer {
    left: 0px;
}

.layui-footer {
    text-align: center;
}

/*表格*/
.layui-table-body .layui-input {
    height: 24px;
}

.atjubo-fieldset {
    color: #009688;
    border-style: none;
    margin-top: 20px;
    font-weight: 800;
}

.atjubo-fieldset legend {
    font-weight: 800;
}
.atjubo-table-field { font-weight:800;
}
label.required::after {
    content: '* ';
    color: #FF5722;
    margin-right: -9px;
}

/*表格*/
.atjubo-form-search .layui-form-item{margin-bottom:0px;}
.atjubo-form-search .layui-form-item+.layui-form-item{margin-top:5px;}
.atjubo-form-search .layui-form-label{width:auto;padding:5px 4px;}
.atjubo-form-search .layui-form-item .layui-inline{margin-right:0px;margin-bottom:0px;}

/*面包屑*/
.atjubo-breadcrumb{padding:5px 15px;margin-bottom:5px;}

/*底部*/
.layui-layout-admin .layui-body{bottom:0px;}



.atjubo-table-box {
    position: relative;
    overflow: auto;
}

.atjubo-table-header > tr > th {
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
    background: #fff;
    text-align: center;
    height: 36px;
    line-height: 36px;
    background: #f6f6f6;
    background-color: #f7fbfe;
    border-bottom-width: 2px;
}

.atjubo-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    border-radius: 6px 6px 0 0;
    font-weight: normal;
}

.atjubo-table table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    /*设置表格宽度固定对齐*/
}

/**,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    ::selection {
        color: rgb(255, 255, 255);
        background: rgb(45, 183, 245);
    }*/

.atjubo-table {
    /*width: 100%;
    height: 100%;*/
    /*position: relative;
    float: left;*/
}

.atjubo-table-header {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.atjubo-table-body {
    /*position: absolute;*/
}

.atjubo-table tr {
    transition: all .3s;
    -webkit-transition: all .3s;
}

.atjubo-table th {
    text-align: left;
    font-weight: 400;
}

.atjubo-table thead tr,
.atjubo-table-header,
.atjubo-table-body[lay-even] tr:nth-child(even),
.atjubo-table tbody tr:hover,
.atjubo-table-hover,
.atjubo-table-click {
    background-color: #f2f2f2;
}

.atjubo-table th,
.atjubo-table td,
.atjubo-table-header {
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
}

    .atjubo-table-header th span {
        font-weight: 900;
        color: rgb(0,150,136);
    }

.atjubo-table th, .atjubo-table td {
    position: relative;
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
}

.atjubo-table img {
    max-width: 100px;
}

/* 大表格 */
.atjubo-table[lay-size="lg"] th,
.atjubo-table[lay-size="lg"] td {
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
}

/* 小表格 */
.atjubo-table[lay-size="sm"] th,
.atjubo-table[lay-size="sm"] td {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 12px;
}


