
.email-sug {
    width: 187px;
    list-style: none;
    position: fixed;
    padding: 0px;
    margin: 0px;
    z-index: 99999;
    border: 2px solid rgba(134, 132, 132,0.3);
    border-top: none;
    display: none;
    /* 初始不显示，避免边框出现 */
}

    .email-sug li {
        width: 187px;
        height: 30px;
        background-color: #ffffff;
        color: darkgrey;
        line-height: 30px;
        overflow: hidden;
        padding-left: 10px;
        box-sizing: border-box;
    }

        .email-sug li:hover {
            background-color: #f2f2f2;
        }

        .email-sug li.active {
            background-color: #f2f2f2;
        }
